{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<table>
    <tr>
        <td class="td">X</td>
        <td class="td">Y</td>
    <tr>
    {% for i in number_display %}
        <tr>
            <td class="td">{{ i.0 }}</td>
            <td class="td">{{ i.1 }}</td>
        </tr>
    {% endfor %}
</table>
<br>
<p>Mean of the entire set: {{ mean }}</p>
<p>Standard deviation of the entire set: {{ SD }}</p>
<p>Pearson correlation for X and Y: {{ rxy }}</p>
<p>Spearman-Brown coefficient: {{ rxx }}</p>
<p>Standard Error of Measurement: {{ sem }}<p>

{% endblock %}
